#menucompleto {  
    color: #FFFFFF;
    height: 12px;
    background-color: #333333;
    font-size:12px;
    font-weight: bold
    font-family:Segoe UI, Arial, Helvetica, sans-serif;
    text-align:center;
		padding-top:8px;
		padding-bottom:8px;
		padding-left:5px;
		padding-right:5px;
}

#menucompleto:hover {
    color: #FFFFFF;
    height: 12px;
    background-color:#1E90FF;
    font-size:12px;
    font-weight: bold
    font-family:Segoe UI, Arial, Helvetica, sans-serif;
	  text-align:center;
		padding-top:8px;
		padding-bottom:8px;
		padding-left:5px;
		padding-right:5px;
}

#cabeca {
    background-color:#1E90FF;
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

#fundo {
    background-color:#444444;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
#rodape {
    background-color:#333333;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:center;
}

#coluna{
    background-color:#444444;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

h1{
    background-color:#444444;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}

h2{
    background-color:#444444;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
}


p {
    background-color:#444444;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

.inputSem {
    border: 0;
    background-color: #444;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}