@charset "utf-8";

body {margin: 0;}

#marca {float: left; margin: 0; padding: 90px 0 0 0; width: 100%; text-align: center;}
#container {margin: 0 auto; padding: 50px 0 0 0; width: 720px;}
#banner {float: left; position: relative; margin: 0; padding: 0; width: 720px; height: 300px; overflow: hidden;}
#banner ul {float: left; margin: 0; padding: 0; width: 720px; list-style: none;}
#banner ul li {float: left; margin: 0; padding: 0;}
#banner ul li.bannerImage {float: left; position: relative; display: none;}
#banner ul li span {position: absolute; font: 11px Arial; color: #FFF; padding: 10px 13px; background: #000; width: 130px; height: 280px;}
#banner ul li span {filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; display: none;}
#banner ul li span.left {top: 0; left: 0;}
#banner ul li span.right {right: 0; top: 0; bottom: 0;}
#banner ul li span strong {float: left; width: 130px; font: 15px Arial; padding: 5px 0 6px 0; color: #FFF; font-weight: bold;}